#include <dt-bindings/pinctrl/samd21-da1gXabcd-pinctrl.h>

/ {
	chosen {
		oshal,command-uart = &cdc_acm_uart1;
		oshal,debug-uart = &cdc_acm_uart0;
		zephyr,console = &cdc_acm_uart0;
	};
};

&pinctrl {
	tcc0_pa8_default: tcc0_pa8_default {
		group1 {
			pinmux = <PA8E_TCC0_WO0>;
		};
	};
};

&sercom2 {
	status = "disabled";
};

&zephyr_udc0 {
	status = "okay";
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "Prism Kit Debug Console";
	};

	cdc_acm_uart1: cdc_acm_uart1 {
		compatible = "zephyr,cdc-acm-uart";
		label = "Prism Kit Command Port";
	};
};

&tcc0 {
	status = "okay";
	pinctrl-0 = <&tcc0_pa8_default>;
	pinctrl-names = "default";
};